@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Nanum+Gothic&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
}

img{
    max-width: 100%;
}

header{
    position: absolute;
    margin: 40px 0px 0px 40px;
}

.header__logo{
    display: flex;
    align-items: flex-start;
    width: 100px;
    height: 100px;
}
.texto__encriptador{
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 550;
    font-style: normal;
    font-size: 30px;
}